<% include ../partials/header %>

<div class = "container-fluid">
	<section id="aboutMe" class="row">
		<div class="col-md-6">
			<img class="img-thumbnail my-5" src="../assets/images/profile_pic.png"> 
		</div>
		<div class="col-md-6">
			<p class="child-center my-5">
				<span class="indent">
					My name is Saul Garza and I am currently in my last semester at the University of San Diego. I will be <em>graduating this December (2018)</em> with a BA in <em>Computer Science</em> and a minor in Mathematics.
				</span>

				<br><br>

				<span class="indent">
					I've recently developed a strong interest in website development and thus proceeded to teach myself over summer through Udemy. I've done a little bit of everything from front-end development to back-end development. Although I am self-taught, I am continuing to find ways to learn and improve my skills. A few ways I've done this is through projects and extra online courses. Feel free to look around and contact me if you have any questions. You can find my contact information <a class="media-link" href="/contact">here.</a>
				</span>
				
				<br><br>

				<span class="indent">
					On a more personal note, I like to spend my free time hanging out with friends and family, watching my favorite Twitch streamers (CDNThe3rd, RequiemSlaps, Dakotaz) and playing videogames like Fortnite (7-solo Victory Royales <i class="far fa-smile-wink"></i>), FIFA, and Battlefield. Oh and I also love to travel! I've been to over 15 different countries (and counting) and decided to include a few images of my adventures <a class="media-link" href="/travel">here.</a> 
				</span>
			</p>
		</div>
	</section>

    <section id="skills" class="row">
		
		<div class="xp-element col-md-4">
			<div class="card">
				<h5 class="card-header">In the Works:</h5>
				<div class="card-body">
					<ul class="list-group list-group-flush">
						<li class="list-group-item">React/Redux <i class="fab fa-react fa-pull-right"></i> </li>
						<li class="list-group-item">MySQL <i class="fas fa-database fa-pull-right"></i> </li>
						<li class="list-group-item">Webpack <i class="fas fa-cube fa-pull-right"></i> </li>
						<li class="list-group-item">TypeScript <i class="fas fa-code fa-pull-right"></i></li>
						<li class="list-group-item">Docker <i class="fab fa-docker fa-pull-right"></i></li>
						<li class="list-group-item">Jest <i class="fas fa-code fa-pull-right"></i></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="xp-element col-md-4">
			<div class="card">
				<h5 class="card-header">Other:</h5>
				<div class="card-body">
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Java <i class="fab fa-java fa-pull-right"></i></li>
						<li class="list-group-item">C <i class="fab fa-cuttlefish fa-pull-right"></i></li>
						<li class="list-group-item">Swift <i class="fas fa-code fa-pull-right"></i></li>
						<li class="list-group-item">Git/Github <i class="fab fa-github fa-pull-right"></i></li>
						<li class="list-group-item">Microsoft Office License <i class="fab fa-microsoft fa-pull-right"></i></li>
						<li class="list-group-item">Fluent Spanish speaker, reader and writer <i class="fas fa-globe-americas fa-pull-right"></i></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="xp-element col-md-4">
			<div class="card">
				<h5 class="card-header">Web Dev:</h5>
				<div class="card-body">
					<ul class="list-group list-group-flush">
						<li class="list-group-item">HTML <i class="fab fa-html5 fa-pull-right"></i></li>
						<li class="list-group-item">CSS <i class="fab fa-css3-alt fa-pull-right"></i></li>
						<li class="list-group-item">Javascript <i class="fab fa-js fa-pull-right"></i></li>
						<li class="list-group-item">jQuery <i class="fas fa-code fa-pull-right"></i></li>
						<li class="list-group-item">EJS <i class="fas fa-code fa-pull-right"></i></li>
						<li class="list-group-item">MongoDB <i class="fas fa-database fa-pull-right"></i></li>
						<li class="list-group-item">Node.js <i class="fab fa-node fa-pull-right"></i></li>
						<li class="list-group-item">NPM <i class="fab fa-npm fa-pull-right"></i></li>
						<li class="list-group-item">Express <i class="fas fa-code fa-pull-right"></i></li>
						<li class="list-group-item">Bootstrap <i class="fas fa-code fa-pull-right"></i></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</div>