<% include ../partials/header %>

<div class = "container-fluid">
    <div class="row">
        <div class="col-md-6">
            <img class="img-thumbnail mb-3" src="../assets/images/profile_pic.png"> 
        </div>
        <div class="col-md-6">
            <p class="child-center">
				<span class="indent">
					My name is Saul Garza and I am currently in my last semester at the University of San Diego. I will be <em>graduating this December (2018)</em> with a BA in <em>Computer Science</em> and a minor in Mathematics.
				</span>

				<br><br>

				<span class="indent">
					I've recently developed a strong interest in website development and thus proceeded to teach myself over summer through Udemy. I've done a little bit of everything from front-end development to back-end development. Although I am self-taught, I am continuing to find ways to learn and improve my skills. A few ways I've done this is through projects and extra online courses. Feel free to look around and contact me if you have any questions. You can find my contact information <a class="media-link" href="/contact">here.</a>
				</span>
				
				<br><br>

				<span class="indent">
					On a more personal note, I like to spend my free time hanging out with friends and family, watching my favorite Twitch streamers (CDNThe3rd, RequiemSlaps, Dakotaz) and playing videogames like Fortnite (7-solo Victory Royales <i class="far fa-smile-wink"></i>), FIFA, and Battlefield. Oh and I also love to travel! I've been to over 15 different countries (and counting) and decided to include a few images of my adventures <a class="media-link" href="/travel">here.</a> 
				</span>
			</p>
        </div>
    </div>
</div>