body,.card,.list-group-item{
    background-color: #ECF0F1;
}

.navbar,.card-header,.card-title{
    background-color: #BDC3C7!important;
}

.nav-link,.navbar-brand,h1,h2,p,table,.figure-caption{
    /* color: #ecf0f1!important; */
    color: #2C3E50!important;
}

.work-xp-header{
    margin-bottom: 10px;
}

.project{
    width: 95%;
    display:inline-block;
    margin: 0 auto;
    background-color:#ECF0F1;
    text-align: center;
    margin-top: 20px;
    border: 2px solid #3498DB;
}

.img-thumbnail,.card{
	border: 2px solid #3498DB;
}

.list-group-item{
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.card-img-top{
    max-height: 300px;
}

.rgb-container{
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    
}

.rgb-navbar{
    height: 30px;
    background-color: #ECF0F1;
}

.project-header{
    letter-spacing: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#rgbMessage,.rgbBtns{
    background-color: #ECF0F1;
}

.square{
    width: 30%;
    padding-bottom: 30%;
    background-color: #C0392B;
    float: left;
    margin: 1.66%;
    border-radius: 25%;
}

#newColors{
    margin-right: 2.5%;
}

#rgbDifficultyBtns{
    margin-left: 2.5%;
    display: inline;
}

.rgbBtns{
    border-style: none;
    letter-spacing: 3px;
}

.rgbBtns:focus {
    outline: none;
}

.rgbBtns:hover,.nav-link:hover{
    background-color: #3498DB;
    color: white!important;
}

.active,#getData{
    background-color: #3498DB;
    color: white;
}

.hide{
    display: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.header{
    text-align: center;
    color: #2C3E50!important;
}

.card-header{
    color: #2C3E50!important;
}

.travel-pic:hover{
    transform: scale(1.10);
}

#profile-pic{
    max-height: 90vh;
}

.indent{
	margin-left: 25px;
}

.contact-element{
	padding-top: 20px;
    padding-bottom: 20px;
}

.contact-link{
    margin-bottom: 10px;
    color: #3498DB;
}

.media-link{
	color:#3498DB; 
	text-decoration:none; 
	cursor:pointer;
}
.media-link:hover{
	color:#2980B9; 
	text-decoration:none; 
}

.hr-header{
    max-width: 25%;
    background-color:#3498DB; 
    display: inline;
}

table{
    margin-bottom: 10px;
}

#twitch-container{
    margin-top: 30px;
}

.xp-element{
	padding-top: 20px;
	padding-bottom: 20px;
}

table{
    width: 100%;
}

.child-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

