#rgbGuesser{
    width: 95%;
    display:inline-block;
    margin: 0 auto;
    background-color: #2C3E50;
    text-align: center;
}

.rgb-container{
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
}

.rgb-navbar{
    height: 30px;
    background-color: white;
}

.rgb-header{
    color: white;
    letter-spacing: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.square{
    width: 30%;
    padding-bottom: 30%;
    background-color: #C0392B;
    float: left;
    margin: 1.66%;
    border-radius: 25%;
}

#newColors{
    margin-right: 7%;
}

#rgbDifficultyBtns{
    margin-left: 7%;
    display: inline;
}

.rgbBtns{
    border-style: none;
    letter-spacing: 3px;
}

.rgbBtns:focus {
    outline: none;
}

.rgbBtns:hover{
    background-color: steelblue;
    color: white;
}

.active{
    background-color: steelblue;
    color: white;
}

.hide{
    display: none;
}

.header{
    text-align: center;
}