#rgbGuesser{
    width: 95%;
    display:inline-block;
    margin: 0 auto;
    background-color: #2C3E50;
}

.rgb-container{
    max-width: 600px;
    margin: 0 auto;
}

.square{
    width: 30%;
    padding-bottom: 30%;
    background-color: #C0392B;
    float: left;
    margin: 1.66%
}

.header{
    text-align: center;
}